{% if site.data.data.experiences %}
<section class="section experiences-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>{{ site.data.data.experiences.title }}</h2>

  {% if site.data.data.experiences.intro %}
  <div class="intro">
      <p>{{ site.data.data.experiences.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for experience in site.data.data.experiences.experiences %}
    <div class="item">

      <span class="experience-title"><a href="{{ experience.link }}">{{ experience.title }}</a></span>

      {% if experience.tagline %}
      - <span class="experience-tagline">{{ experience.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
